I want you to feel <strong>confident</strong> that you've 
<strong>mastered</strong> this skill.
That's why this takes a <strong>hands-on</strong> approach where you type in commands 
and we explain the responses and possible troubleshooting.
This is a <strong>"deep dive"</strong> because all details are presented.

Like a good music DJ, I’ve carefully arranged the presentation of concepts 
into a sequence for easy <strong>learning</strong>,
so you don’t have to spend as much time as me 
making sense of the flood of material around this subject.

Sentences that begin with <strong>PROTIP</strong> are a high point of this website
to point out wisdom and advice from experience. 
<strong>NOTE</strong> point out observations that many miss. 
Search for them if you only want "TL;DR" (<a target="_blank" href="https://en.wikipedia.org/wiki/Wikipedia:Too_long;_didn%27t_read">Too Long Didn't Read</a>) highlights.

> Stuck? Contact me and I or one of my friends will help you.