0. [DevOps_2.0](/devops_2.0/)
0. [ci-cd (Continuous Integration and Continuous Delivery)](/ci-cd/)
0. [User Stories for DevOps](/user-stories-for-devops/)
0. [Enterprise Software)](/enterprise-software/)

0. [Git and GitHub vs File Archival](/git-and-github-vs-file-archival/)
0. [Git Commands and Statuses](/git-commands-and-statuses/)
0. [Git Commit, Tag, Push](/git-commits/)
0. [Git Utilities](/git-utilities/)
0. [Data Security GitHub](/data-security-github/)
0. [GitHub API](/github-api/)
0. [TFS vs. GitHub](/tfs-vs-github/)

0. [Choices for DevOps Technologies](/devops-choices/)
0. [Pulumi Infrastructure as Code (IaC)](/pulumi/)
0. [Java DevOps Workflow](/java-devops-workflow/)
0. [Okta for SSO & MFA](/okta/)

0. [AWS DevOps (CodeCommit, CodePipeline, CodeDeploy)](/aws-devops/)
0. [AWS server deployment options](/aws-server-deploy-options/)
0. [AWS Load Balancers](/loadbal/)

0. [Cloud services comparisons (across vendors)](/cloud-services-comparisons/)
0. [Cloud regions (across vendors)](/cloud-regions/)
0. [AWS Virtual Private Cloud](/aws-vpc/)

0. [Azure Cloud Onramp (Subscriptions, Portal GUI, CLI)](/azure-quickly/)
0. [Azure Certifications](/azure-certifications/)
0. [Azure Cloud](/azure-cloud/)

0. [Azure Cloud Powershell](/azure-cloud-powershell/)
0. [Bash Windows using Microsoft's WSL (Windows Subsystem for Linux)](/bash-windows/)
0. [Azure KSQL (Kusto Query Language) for Azure Monitor, etc.](/kql/)

0. [Azure Networking](/azure-networking/)
0. [Azure Storage](/azure-storage/)
0. [Azure Compute](/azure-compute/)
0. [Azure Monitoring](/azure-monitoring/)

0. [Digital Ocean](/digital-ocean/)
0. [Cloud Foundry](/cloud-foundry/)

0. [Packer](/packer/) automation to build Vagrant images
0. [Terraform](/terraform/) multi-cloud provisioning automation
0. [Hashicorp Vault and Consul](/hashicorp-vault/) to generate and hold secrets

0. [Powershell Ecosystem](/powershell-ecosystem/)
0. [Powershell on MacOS](/powershell-on-mac/)
0. [Powershell Desired System Configuration](/powershell-dsc/)

0. [Jenkins Server Setup](/jenkins-setup/)
0. [Jenkins Plug-ins](/jenkins-plugins/)
0. [Jenkins Freestyle jobs](/jenkins-freestyle/)
0. [Jenkins2 Pipeline jobs using Groovy code in Jenkinsfile](/jenkins2-pipeline/)

0. [Docker (Glossary, Ecosystem, Certification)](/docker/)
0. [Make Makefile for Docker](/make-makefile/)
0. [Docker Setup and run Bash shell script](/bash-scripts/)
0. [Bash coding](/bash-coding/)
0. [Docker Setup](/docker-setup/)
0. [Dockerize apps](/dockerize/)
0. [Docker Registry](/docker-registry/)

0. [Maven on MacOSX](/maven-on-macos/)

0. [Ansible](/ansible/)
0. [Kubernetes Operators](/k8s-operators/)
0. [OPA (Open Policy Agent) in Rego language](/opa-rego/)

0. [MySQL Setup](/mysel-setup/)

0. [Threat Modeling](/threat-modeling/)
0. [SonarQube & SonarSource static code scan](/sonarqube/)

0. [API Management Microsoft](/api-management-microsoft/)
0. [API Management Amazon](/api-management-amazon/)

0. [Scenarios for load](/scenarios-for-load/)
0. [Chaos Engineering](/chaos-engineering/)
