0. [Security actions for teamwork and SLSA](/actions/)
0. [DevSecOps](/devsecops/)

0. [Code Signing on macOS](/code-signing-on-mac/)
0. [Transport Layer Security](/tls/)

0. [Git Signing](/git-signing/)
0. [GitHub Data Security](/github-data-security/)
0. [Encrypt all the things](/encrypt-all/)

0. [Azure Security-focus Cloud Onramp](/azure-onboarding/)
0. [Azure Networking](/azure-networking/)

0. [AWS Onboarding](/aws-onboarding/)
0. [AWS Security (certification exam)](/aws-security/)
0. [AWS IAM (Identity and Access Management)](/aws-iam/)
0. [AWS Networking](/aws-networking/)

0. [SIEM (Security Information and Event Management)](/siem/)
0. [Intrusion Detection Systems (Goolge/Palo Alto)](/ids/)
0. [Chaos Engineering](/chaos-engineering/)

0. [SOC2](/soc2/)
0. [FedRAMP](/fedramp/)
0. [CAIQ (Consensus Assessment Initiative Questionnaire) by cloud vendors](/caiq/)

0. [AKeyless cloud vault](/akeyless/)
0. [Hashicorp Vault](/hashicorp-vault/)
0. [Hashicorp Terraform](/terraform/)
0. [OPA (Open Policy Agent)](/opa-rego/)

0. [SonarQube](/sonarqube/)
0. [WebGoat known insecure PHP app and vulnerability scanners](/webgoat/)
0. [Test for OWASP using ZAP on the Broken Web App](/owasp-testing/)

0. [Security certifications](/security-certs/)
0. [Details about Cyber Security](/cyber-security/)

0. [Quantum Supremecy can break encryption in minutes](/quantum/)
0. [Pen Testing](/pen-testing/)
0. [Kali Linux](/kali/)

0. [Threat Modeling](/threat-modeling/)
0. [WebGoat (deliberately insecure Java app)](/webgoat/)
